body {
  font-family: "PT Mono", monospace;
  font-family: "Roboto", sans-serif;
  background-color: #f9f7fe;
}

h1 {
  color: #5b5b60;
  line-height: 30px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.weather-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1.5px solid grey;
  border-radius: 15px;
  background-color: white;
}

.weather-temperature {
  font-size: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
}

.current-temperature {
  font-size: 50px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -30px;
  color: black;
}

a {
  text-decoration: none;
}
